<section class="todo-list">
    <h1>ToDo List App</h1>
    <div class="description">
        <div [attr.data-priority]="1">High</div>
        <div [attr.data-priority]="2">Medium</div>
        <div [attr.data-priority]="3">Low</div>
    </div>

    <div style="margin-bottom: 30px;">
        @if (isCreating() && !editingId()) {
        <app-todo-form (done)="cancelCreate()" />}

        @else {<button class="add-new-btn" (click)="startCreate()">
            <span class="icon">✚</span>
            Add new
        </button>}
    </div>

    @for (item of unfinishedItems(); track item.id) {
    @if (editingId() === item.id) {
    <app-todo-form [todo]="item" (done)="cancelEdit()" />
    }

    @else {
    <app-todo-item [item]="item" (edit)="startEdit(item.id)" />
    }
    }

    @for (item of finishedItems(); track item.id) {
    <app-todo-item [item]="item" [completed]=true />
    }
</section>