<div class="todo-item" [attr.data-priority]="item().priority" [class.highlight]="isHighlighted()"
    [class.completed]="item().isCompleted" [title]="item().description" [attr.data-has-desc]="!!item().description">

    <div class="summary">
        {{ item().summary }}
    </div>

    <div>
        Due Date: {{ formattedDeadline}}
    </div>

    <div class="actions">
        <button class="actions-btn" (click)="startEdit()">✎</button>

        @if (!item().isCompleted) {
        <button class="actions-btn" (click)="markCompleted()">✔</button>
        }

        @if (!item().isCompleted) {
        <button class="actions-btn" (click)="deleteItem()">✖</button>
        }
    </div>

    @if (item().isCompleted) {
    <button class="actions-btn undo-btn" (click)="undoCompleted()">↩</button>
    }
</div>