<div class="todo-item" [attr.data-priority]="item().priority" [class.highlight]="deadlineState === 'highlight'"
    [class.overdue]="deadlineState === 'overdue'" [class.completed]="item().isCompleted" [title]="item().description"
    [attr.data-has-desc]="!!item().description">

    <div class="summary">
        {{ item().summary }}
    </div>

    <div class="due-date">
        Due Date: {{ item().completeBy }}
    </div>

    <div class="actions">
        @if (!item().isCompleted) {
        <button title="edit" class="actions-btn" (click)="startEdit()">✎</button>
        <button title="complete" class="actions-btn" (click)="markCompleted()">✔</button>
        <button title="delete" class="actions-btn" (click)="deleteItem()">✖</button>

        }
    </div>

    @if (item().isCompleted) {
    <button title="undo" class="actions-btn undo-btn" (click)="undoCompleted()">↩</button>
    }
</div>