<form autofocus="true" [formGroup]="form" (ngSubmit)="submit()" class="todo-form" [class.loading]="isSubmitting">
    <input autofocus="true" type="text" placeholder="Summary" formControlName="summary"
        [class.invalid]="hasError('summary')" />
    @if (hasError("summary")) {
    <p class="error-msg">{{ getErrorMessage("summary") }}</p>
    }

    <input type="text" placeholder="Description" formControlName="description" />

    <select formControlName="priority">
        <option [value]="PRIORITY.HIGH">High</option>
        <option [value]="PRIORITY.MEDIUM">Medium</option>
        <option [value]="PRIORITY.LOW">Low</option>
    </select>

    <input type="datetime-local" formControlName="completeBy" [class.invalid]="hasError('completeBy')" />
    @if (hasError("completeBy")) {
    <p class="error-msg">{{ getErrorMessage("completeBy") }}</p>
    }

    <button type="submit" [disabled]="form.invalid">
        Save
    </button>

    <button type="button" (click)="formSubmitted.emit()">
        Cancel
    </button>
</form>